<tr>
  <td>
    <%= image_tag Product.find(item.product_id).image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= quantity %>
  </td>
  <td>
    <%= total/100.0 %>
  </td>
</tr>
