<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </div>

    </div>
    <div >
      <h3>Reviews</h3>
      <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="5"> Description </th>
          <th colspan="5"> Rating </th>
        </tr>
      </thead>
      <tbody>
        <% Review.where(product_id: @product.id).each do |review| %>
      <tr>
        <td colspan="5" >
          <%= review.description %>
         </td>
        <td colspan="5">
          <%= review.rating.times do %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
        </td>
      <tr>
      <% end %>

    </tbody>

    </table>

    </div>

     <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for @product, :url=> product_reviews_path(@product), method:'post' do |f| %>

        <%= f.fields_for :reviews do |review|%>
          <div class="form-group">
            <%= review.label :description %>
            <%= review.text_field :description, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= review.label :rating %>
            <%= review.select(:rating, options_for_select([['1 Star', 1],['2 Stars', 2], ['3 Stars', 3],['4 Stars', 4],['5 Stars', 5]]))  %>
          </div>

        <% end %>
        <%= f.submit 'Add Review', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  </article>

</section>
